body {
    font-family: Arial, sans-serif;
}

#content {
    text-align: center;
    margin-top: 50px;
}

#actionButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


/* Black background color */

.topnav {
    background-color: #b1eb12;
    overflow: hidden;
}

/* Link style */

.topnav a {
    float: left;
    color: #f2f2f3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Actice link color */

.topnav a.active {
    background-color: #aa3e04;
    color: white;
}

/* change the color*/

.topnav a:hover {
    background-color: grey;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: #333;
    width: 100%;
    padding: 10px;
    color: white;
}
